{% extends "base_page.html" %}

{% block page-title %}
{% if correct_input %}
Аналог добавлен.
{% else %}
Ошибка добавления.
{% endif %}
{% endblock %}

{% block page-lead %}{% endblock %}

{% block content %}
<div class="container-sm px-5 py-5" id="analogue-form-result">
    <h2 class="pb-2 border-bottom">Результат запроса</h2>
    <p>Уважаемый пользователь <span class="fst-italic">{{ user }}</span>,<br/>
        Ваш запрос завершился <span class="fw-bold">{% if correct_input %}успешно{% else %}ошибкой{% endif %}</span>.
    </p>

    <h2 class="pb-2 border-bottom">Комментарий</h2>
    <p>{{ comment }}</p>

    <h2 class="pb-2 border-bottom">Что можно сделать?</h2>
    <ul>
        <li>заполнить <a href="./add_analogue.html">форму</a> ещё раз,</li>
        <li>вернуться на <a href="/">главную</a></li>
    </ul>
</div>
{% endblock %}