{% extends "base_page.html" %}

{% block page-title %}
Современные слова и их древнерусские аналоги.
{% endblock %}

{% block page-lead %}
Это страничка проекта про изучение слов из древней Руси.
{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="project-contents">
    <h2 class="pb-2 border-bottom">Опции</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-5">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Список аналогов.</h3>
                <p>Посмотреть список текущих аналогов.</p>
                <a href="./analogues.html" class="btn btn-danger">Посмотреть.</a>
            </div>
            <div class="col d-flex">
                <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-5">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#cpu-fill"></use>
                    </svg>
                </div>
                <div>
                    <h3 class="fs-2">Форма для добавления аналога.</h3>
                    <p>Добавить аналог.</p>
                    <a href="./add_analogue.html" class="btn btn-danger">
                        Добавить.
                    </a>
                </div>
            </div>
            <div class="col d-flex">
                <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-5">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#cpu-fill"></use>
                    </svg>
                </div>
                <div>
                    <h3 class="fs-2">Статистика пользователей.</h3>
                    <p>Посмотреть статистику по количеству добавленных слов и таблицу топ-пользователей.</p>
                    <a href="./statistics.html" class="btn btn-danger">Посмотреть.</a>       
                </div>
            </div>
            <div class="col d-flex">
                <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-5">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#cpu-fill"></use>
                    </svg>
                </div>
                <div>
                    <h3 class="fs-2">Статистика конкретного пользователя.</h3>
                    <p>Узнать добавленные слова конкретного пользователя.</p>
                    <a href="./exact_statistics.html" class="btn btn-danger">Посмотреть.</a>       
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}